* {
  margin: 0;
}

.logo {
  font-weight: bold;
  color: #000080;
}


.navbar {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar ul {
  display: flex;
  list-style: none;
  
}

.navbar li {
  margin-left: 2rem;
  
}

.coachtech_img img {
  margin-top: -80px;
  width: 650px;
  height: 380px;
  display: block;
  margin-left: auto;
  position: relative;
  
}

.box {
  margin-right: auto;
  width: 80%;
  height: 150px;
  background: #000080;
  position: relative;
  top: 350px;
  
}

p {
  font-size: 40px;
  position: relative;
  top: 350px;
}

a {
  text-decoration: none;
  color: #000080;
}





